/*Nagivation*/
#main-nav {
	padding: 15px 0;
}

/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    z-index:10;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
	margin:0;
}

#main-nav .navbar-header a {
	background-color: #01b1d7;
	color: #fff;
}
/*Toggle Menu*/
#main-nav .navbar-toggle {
	background-color: #01b1d7;
}

#main-nav .navbar-toggle span {
	background-color: #fff;
}

/*Main Menu*/
#main-nav .navbar-right {
	margin-top: 10px;
}
#main-nav .navbar-right li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	color: #555;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

#main-nav .navbar-right li > a:focus {
	color: #01b1d7;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
	color: #01b1d7;
    background: none;
}